body{
    background-color: white;
    -webkit-transition: 0.4s ease-in;
     -moz-transition: 0.4s ease-in;
     -o-transition: 0.4s ease-in;
     transition: 0.4s ease-in
}

h1{
    color: #1e1e1e;
}
